.footer {
    display: flex;
    justify-content: center;
    padding: 0 1rem; 
}
.footerText {
    text-align: center;
    line-height: 34px;
    font-size: .8rem; 
}

.logos {
    margin-right: 10px;
}