.header {
    // padding: 1rem 0 3rem;
    display: flex;
    flex-direction: column;
    padding: 2.3em 0;
}

.nav-item {
    display: block;
    color: #515151;
    font-size: .9rem;
    margin-right: 1.5rem;
    text-decoration: none;
    border-bottom: 2.5px solid #F2F2F2;
    transition: border-bottom 300ms;
}

.nav-item:hover {
    border-bottom: 2.5px solid #131313;
}

.active-nav-item {
    color: #131313;
    border-bottom: 2.5px solid #131313;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 1.5em 0 0 5%;
}

.logo {
    margin-left: 5%;
    display: block;
    max-height: 150px;
}


@media screen and (min-width : 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
     
    .logo {
        margin-left: 2.3em;
    }
     
    .nav-list {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}