.header {
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: block;
    color: #515151;
    font-size: .6rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.active-nav-item {
    color: #131313;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 5%;
}

.logo {
    display: block;
    padding: .8rem;
}




@media screen and (min-width : 660px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
     
    .logo {
        margin: none;
    }
     
    .nav-list {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}