.component-page {
    min-height: 80vh;
}

.start {
    display: block;
    padding-top: 30vh;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width : 550px) {
    h1 {
        font-size: 3em !important;
    }
    .start {
        padding-top: 20vh;
    }
    .sims {
        font-size: 20px;
    }
}